@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(//db.onlinewebfonts.com/c/facc2325c1dff1377bb6bf9f0fb965f6?family=Museo+Slab);
@font-face {font-family: "Museo Sans Rounded 1000"; src: url("//db.onlinewebfonts.com/t/249451cbcbb9f871c56d7949140162cc.eot"); src: url("//db.onlinewebfonts.com/t/249451cbcbb9f871c56d7949140162cc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/249451cbcbb9f871c56d7949140162cc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/249451cbcbb9f871c56d7949140162cc.woff") format("woff"), url("//db.onlinewebfonts.com/t/249451cbcbb9f871c56d7949140162cc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/249451cbcbb9f871c56d7949140162cc.svg#Museo Sans Rounded 1000") format("svg"); }*{
  font-family: 'Montserrat', sans-serif;
}

.head{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  padding: 20px 100px 0px 100px;
  background-color: #FD9865;
  border-radius: 10px 10px 0px 0px ;
}

.home{
  background-color: #FD9865;
  border-radius: 0px 0px 10px 10px ;
  color: #f5f5f5;
}

.footer{
  padding: 200px 0px 0px;
}

.head .head-nav{
  background-color: #00000040 ;
  border-radius: 30px;
  padding: 10px;
}

.home .home-img{
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.concept .concept-detail{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;

}

.footer .footer-social {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.head .head-logo img {
  width: 100%;
  object-fit: cover;
  height: 40px;
}

.home .home-txt p{
  justify-content: center;
  display: flex;
  font-size: 20px;
  text-align: center;
  padding: 40px;
}

.home .home-title h1{
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 40px 0px 0px 0px;
  font-family: 'Museo Sans Rounded 1000';
  font-size: 70px;
  text-align: center;
}


.head .head-nav nav{
  align-items: center;
  display: flex;
}

.head .head-nav h2{
  padding: 0px 20px;
  font-size: 15px;
  color: white;
}

.head .head-button button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 0;
  font-size: 20px;
  color: #000000;
  background-color: #f5f5f5;
  padding: 10px 35px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-radius: 50px;
  transition : 603ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.head .head-button button:hover {
  transition : 603ms;
  padding: 10px 35px;
  transform : translateY(-5px);
  color: #0f0f0f;
}
.concept .concept-title h2{
  font-family: 'Museo Sans Rounded 1000';
  font-size: 50px;
  justify-content: center;
  display: flex;
}

.concept .concept-txt p{
  padding: 0px 20%;
  text-align: center;
} 

.concept .concept-detail .concept-detail-resum{
  display: flex;
  padding: 100px 50px 0px 50px;
}

.footer .footer-nav nav{
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer .footer-nav nav h2{
  padding: 0px 20px;
  font-size: 15px;
}

.footer .footer-social i {
  padding: padding 0px 20px;
}

.concept .concept-title h2 span {
  color: #FD9865;
  font-family: 'Museo Sans Rounded 1000';
  padding-left: 15px;
}

.bloc-formulaire{
  min-height: 1050px;
  background-color: #F8F8F8;
  z-index: 0;
  padding: 30 200 400 200;
  border-radius: 10px;
}
h2{
  padding: 70px;
  font-family: 'montserrat', sans-serif;
  text-align: center;
  font-size: 50px;
    font-family: 'Museo Sans Rounded 1000';

}
span {
  color:#FD9865;
  font-family: 'Museo Sans Rounded 1000';
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  padding : 40px;
  border-radius:20px;
  column-count: 2;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
}

.coordonees{
  padding: 40px;
  line-height: 40px;
}

.formulaire-content {
  border-radius:10px;
  padding:20px;
  width: 100%;
  max-width: 700px;
  margin:0 auto;
}
.name-form{
  column-count: 2;
}
input[type=text], textarea, input[type=email] {
  width: 100%;
  height: 50px;
  padding: 12px;
  border: none;
  background-color: white;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;

}

input[type=submit] {
  width: 140px;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #FD9865;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

input[type=submit]:hover {
  background-color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #FD9865;
  transform: translateY(-3px);
}


span{
  color: #FD9865;
}

.bloc-application h2{
  font-size: 50px;
  padding:40px;
  text-align: center;
}
.application-content{
  column-count: 2;
  padding: 100px;
}

.appli-gauche{
  padding:40px;
  display: flex;
  background-color: #F8F8F8;
  border-radius: 20px;
  max-height: 200px;
}

.content-gauche{
  padding: 20px;
  font-size: larger;
}

.content-gauche img{
  width: 40%;
}

.appli-droite p{
  text-align: center;
  margin: 50px;
  padding-top: 60px;
}




.non {
  position: relative;
  height: 570px;
  width: 1890px;
  display: flex;
  align-items: center;
  background-color: #F8F8F8;
  margin: 0;
  border-radius: 0px 0px 10px 10px ;

}

.slider-title, .slider-txt{
  background-color: #F8F8F8;

}

.slider-title{
  border-radius: 10px 10px 0px 0px ;

}

.slider-title h2, p{
  margin: 0;
}

.slider-txt p {
  padding: 0px 300px;
  text-align: center;

}
.card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: white;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 100;
}

section .card .image {
  border-radius: 20%;
  padding: 3px;
}

section .card .image img{
  height: 100%;
  object-fit: cover;
  border-radius: 20%;
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.name-profession .profession{
  font-size: 15px;
  font-weight: 500;
  padding-top: 5px;
}

.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
  text-align: center;
  font-size: 15px;
  padding: 0px 10px;
}

.card .rating p{
  color: #020002;
}

.card .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

 .card .button button{
  background: #8c3ff0;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
 }

 .button button:hover{
  background: #6616d0;
 }

 .swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: white;
 }

 .swiper_button_next, .swiper_button_prev{
  opacity: 0.7;
  color: white;
  transition: all 0.3s ease;
 }

 .swiper_button_next:hover, .swiper_button_prev:hover{
  opacity: 1;
  color: white;
 }

 .swiper_button_next img, .swiper_button_prev img{
  width: 100px;
 }

 .swiper_button_next{
  padding-left: 75px;
 }

 .swiper_button_prev{
  padding-right: 75px;
 }

 .card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  height: 470px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.name-profession .profession{
  color: #000000;
}

.name-profession .name{
  font-size: 25px;
}

.oui{
  height: 750px;
}